<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
    <div>
        <table border>
        <tr>
            <th>user ID</th>
            <th>username</th>
            <th>email</th>
        </tr>
        <%for(let user of result){%>
            <tr>
                <td><%=user.id%></td>
                <td><%=user.username%></td>
                <td><%=user.email%></td>
                <td>
                     <form action="/user/edit/<%=user.id%>" method="get">
                       <button>edit</button>
                    </form>
                </td>
                 <td>
                     <form action="/user" method="delete">
                       <button>delete</button>
                    </form>
                </td>
            </tr>
        <%}%>
        </table>
    </div>
</body>
</html>